.header__lang-link {
    margin-right: 15px;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #FFFFFF;
    transition: opacity 1s ease;
}

.header__lang-link:hover {
    opacity: .8;
}

.header__lang-link:last-of-type {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 111%;
    }
}