.place__image {
    width: 100%;
    grid-row: 2;
    grid-column: 1;
    align-self: start;
}

@media screen and (max-width: 767px) {
    .place__image {
        grid-row: 3;
    }

}

@media screen and (max-width: 320px) {
    .place__image {
        
    }
    
}

