.comments__container {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1184px;
    display: grid;
    column-gap: 19px;
    flex-direction: row;
    display: flex;
}

@media screen and (max-width: 1279px) {
    .comments__container {
        max-width: 925px;
    }

}

@media screen and (max-width: 1023px) {
    .comments__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-template-rows: 200px 290px 220px;
    }
}