.photo-grid__item {
  width: 100%;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}

.photo-grid__item:hover {
  transform: scale(1.2);
  z-index: 99;
}

@media (max-width: 768px) {
  .photo-grid__item:hover {
    transform: none;
  }
}
