.cover__title {
    margin: 274px auto 132px;
    max-width: 1094px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
    .cover__title {
        max-width: 549px;
        margin: 211px auto 70px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__title {
        max-width: 535px;
        margin: 165px auto 45px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        max-width: 247px;
        font-size: 32px;
        line-height: 35px;
        margin: 104px auto 23px;
    }
}

@media screen and (max-width: 374px) {
    .cover__title {
        max-width: 288px;
        margin: 64px auto 7px;
    }
}