.footer {
    max-width: 1184px;
    max-width: calc(100% - 96px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 720px;
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 100%;
        min-height: 310px;
        flex-direction: column;
        margin-left: 16px;
        align-items: flex-start;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 186px;
    }
}