.place__website {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .place__website {
        grid-column: 1;
        grid-row: 2;
        max-width: 343px;
        margin: 0 16px;
    }
}

@media screen and (max-width: 374px) {
    .place__website {
        max-width: 288px;
    }
}